extends ../layouts/pages
block append head
	block title
		- var title='OSC-Color'; // Page title

block content
	include ../components/header.pug
	.container
		.row
			.col.title
				h1.headerH1 COLOR
				small.headerSmall Last revision : 2018. 08. 01.
				
	//- Color Navigator
	section
		.container
			- var navColor = [{'key':'Surface'}, {'key':'Primary'}, {'key':'Secondary'}, {'key':'EtcColor'}, {'key':'Crediential'}]
				.row.navColorBox
					each item, index in navColor
						a( href = "colorpage.html#"+item.key class = "navColor " + item.key ) #{item.key}

	//- Surface
	section#Surface
		.container
			h2.colorTitle Surface
			include ../variables.pug
				.row.surfaceRowHeight
					each item, index in surface
						if index === 0
							div( class = item.key + " mainHight titleColorLayout" )
								span.name #{item.key}
								span.code #{item.color}
						else
							div( class = item.key  )
								span.name #{item.key}
								span.code #{item.color}
				.row.surfaceRowHeight
					each item, index in surfaceEp
						div( class = 'titleColorLayout surface' + item.key )
							div( class = "emLeft" + " " + "surface" + item.textKey1 )= item.text1
							div( class = "emLeft" + " " + "surface" + item.textKey2 )= item.text2
							div( class = "emLeft" + " " + "surface" + item.textKey3 )= item.text3
	//- Primary
	section#Primary
		.container
			h2.colorTitle Primary
			include ../variables.pug
				.row.primaryRowHeight
					each item, index in primary
						if index === 0
							div( class = item.key+" mainHight titleColorLayout" )
								span.name #{item.key}
								span.code #{item.color}
						else
							div( class = 'primary' + item.key  )
								span.name #{item.key}
								span.code #{item.color}
				.row.primaryRowHeight
					each item, index in primaryEp
						if index === 0
							div( class = 'titleColorLayout primary' + item.key )
								div( class = "emLeft" + " " + "primary" + item.textKey1 )= item.text1
								div( class = "emLeft" + " " + "primary" + item.textKey2 )= item.text2
								div( class = "emLeft" + " " + "primary" + item.textKey3 )= item.text3
						else if index === 1
							div( class = 'textLower primary' + item.key )
								div( class = "emLeft" + " " + "primary" + item.textKey4 )= item.text4
								div( class = "emLeft" + " " + "primary" + item.textKey5 )= item.text5
								div( class = "emLeft" + " " + "primary" + item.textKey6 )= item.text6
						else if index === 2
							div( class = 'textLower primary' + item.key )
								div( class = "emLeft" + " " + "primary" + item.textKey7 )= item.text7
								div( class = "emLeft" + " " + "primary" + item.textKey8 )= item.text8
								div( class = "emLeft" + " " + "primary" + item.textKey9 )= item.text9

	//- Secondary
	section#Secondary
		.container
			h2.colorTitle Secondary
			include ../variables.pug
				.row.secondaryRowHeight
					each item, index in secondary
						if index === 0
							div( class = item.key+" mainHight titleColorLayout" )
								span.name #{item.key}
								span.code #{item.color}
						else
							div( class = 'secondary' + item.key  )
								span.name #{item.key}
								span.code #{item.color}
				.row.secondaryRowHeight
					each item, index in secondaryEp
						if index === 0
							div( class = 'titleColorLayout secondary' + item.key )
								div( class = "emLeft" + " " + "secondary" + item.textKey1 )= item.text1
								div( class = "emLeft" + " " + "secondary" + item.textKey2 )= item.text2
								div( class = "emLeft" + " " + "secondary" + item.textKey3 )= item.text3
						else if index === 1
							div( class = 'textLower secondary' + item.key )
								div( class = "emLeft" + " " + "secondary" + item.textKey4 )= item.text4
								div( class = "emLeft" + " " + "secondary" + item.textKey5 )= item.text5
								div( class = "emLeft" + " " + "secondary" + item.textKey6 )= item.text6
						else if index === 2
							div( class = 'textLower secondary' + item.key )
								div( class = "emLeft" + " " + "secondary" + item.textKey7 )= item.text7
								div( class = "emLeft" + " " + "secondary" + item.textKey8 )= item.text8
								div( class = "emLeft" + " " + "secondary" + item.textKey9 )= item.text9

	//- EtcColor
	section#EtcColor
		.container
			h2.colorTitle EtcColor
			include ../variables.pug
				.row.etcColorRowHeight
					each item, index in etcColor
						div( class = item.key )
							span.name #{item.key}
							span.code #{item.color}

	//- Crediential
	section#Crediential
		.container
			h2.colorTitle Crediential
			include ../variables.pug
				.row.credientialRowHeight
					each item, index in crediential
						div( class = item.key )
							span.name #{item.key}
							span.code #{item.color}

			
	div.container.made Made by majac / TakHyun