extends ../layouts/pages
block append head
	block title
		- var title='OSC-STYLE';

block content
	include ../components/header.pug
	.container
		.row
			.col.title
				h1.headerH1 RORO UI kit
				small.headerSmall Last revision : 2018. 08. 01.
	.container
		p Main Page
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. At saepe corrupti praesentium consequuntur maxime? Assumenda dolores quibusdam quisquam nam velit pariatur ut doloribus magnam, sequi qui enim quia consequuntur. Cupiditate quis fugiat sint molestias vitae aliquid quibusdam explicabo nobis, odit quidem eaque impedit dicta reiciendis maxime sequi quos ut, obcaecati est illo, fugit possimus saepe. Tenetur sed magni, dicta dignissimos cum temporibus dolor ipsa nostrum voluptatem in minus nulla! Reprehenderit maiores sit ipsum impedit possimus iste iusto rem nemo, quas modi quisquam iure, consequuntur eius officiis eos minima repellat, voluptatem ex soluta animi dolorem aliquid harum? Aliquid consequatur nam deserunt.

	section
		.container.colorBox
			- var surface = [{"surface mainHight":"surface mainHight", "surfaceText":"Surface", "surfaceCode":"#F6F8FD"}, {"light":"light", "lightText":"Light", "lightCode":"#FFFFFF"}, {"dark":"dark", "darkText":"Dark", "darkCode":"#E3E5EA"}, {"surfaceEp":"surfaceEp", "surfaceEp87":"Text on Surface / High Emphasis / Black 87%", "surfaceEp60":"Text on Surface / High Emphasis / Black 60%", "surfaceEp38":"Text on Surface / High Emphasis / Black 38%"}]
			each val in surface
				div.row( class = val )
					div.col
						if (val.surfaceText === "Surface")
							span.name= val.surfaceText
							span.code= val.surfaceCode
						if (val.lightText === "Light")
							span.name= val.lightText
							span.code= val.lightCode
						if (val.darkText === "Dark")
							span.name= val.darkText
							span.code= val.darkCode
						if (val.surfaceEp87 === "Text on Surface / High Emphasis / Black 87%")
							.emLeft.surfaceEp87= val.surfaceEp87
							.emLeft.surfaceEp60= val.surfaceEp60
							.emLeft.surfaceEp38= val.surfaceEp38

				//- {"primary mainHight":"primary mainHight", "primaryText":"Primary", "primaryCode":"#228BE6"},
				//- {"primary900":"primary900", "primary900Text":"900", "primary900Code":"#0F4AA2"},
				//- {"primary400":"primary400", "primary400Text":"400", "primary400Code":"#45A8F6"}
				

	section
		.container.colorBox
		
			- var primary = [{key: 'primary',color: '#228BE6',},{key: '900',color: '#0F4AA2',},{key: '800',color: '#0F4AA2',},{key: '500',color: '#0F4AA2',},{key: '400',color: '#45A8F6',}]
				.row
					each item, index in primary
						if index === 0
							.test( class = item.key+" mainHight" )= item.key + ' ' + item.color
						else
							.test( class = 'primary' + item.key )= item.key + ' ' + item.color
								
						
				//- each val in primary
				//- 	.row
				//- 		if (val.primaryText === "Primary")
				//- 			.col.primary.mainHight
				//- 				span.name= val.primaryText
				//- 				span.code= val.primaryCode
				//- 		if (val.primary900 === "primary900" || val.primary400 === "primary400")
				//- 			.col( class = val.primary900 )
				//- 				span.name= val.primary900Text
				//- 				span.code= val.primary900Code
				//- 			.col( class = val.primary400 )
				//- 				span.name= val.primary400Text
				//- 				span.code= val.primary400Code
				//- |     
				//- .row
				//- 	.col.primary800
				//- 		span.name 800
				//- 		|         
				//- 		span.code #1868C1
				//- 	|       
				//- 	.col.primary300
				//- 		span.name 300
				//- 		|         
				//- 		span.code #66B7F7
				//- |     
				//- .row
				//- 	.col.primary700
				//- 		span.name 700
				//- 		|         
				//- 		span.code #1C79D3
				//- 	|       
				//- 	.col.primary200
				//- 		span.name 200
				//- 		|         
				//- 		span.code #91CCF9
				//- |     
				//- .row
				//- 	.col.primary600
				//- 		span.name 600
				//- 		|         
				//- 		span.code #228BE6
				//- 	|       
				//- 	.col.primary100
				//- 		span.name 100
				//- 		|         
				//- 		span.code #BCDFFB
				//- |     
				//- .row
				//- 	.col.primary500
				//- 		span.name 500
				//- 		|         
				//- 		span.code #2699F4
				//- 	|       
				//- 	.col.primary50
				//- 		span.name 50
				//- 		|         
				//- 		span.code #E3F2FD
				//- |     
				//- .row.primaryEp
				//- 	.col
				//- 		.emLeft.primaryEp87 Text on Primary / High Emphasis / Black 87%
				//- 		|         
				//- 		.emLeft.primaryEp75 Text on Primary / Medium Emphasis / Black 75%
				//- 		|         
				//- 		.emLeft.primaryEp38 Text on Primary / Disabled / Black 38%
				//- |     
				//- .row
				//- 	.col.primaryBlackTEm
				//- 		.emLeft.primaryBlackT87 Black Text / High Emphasis / Black 87%
				//- 		|         
				//- 		.emLeft.primaryBlackT60 Black Text / Medium Emphasis / Black 60%
				//- 		|         
				//- 		.emLeft.primaryBlackT38 Black Text / Disabled / Black 38%
				//- 	|       
				//- 	.col.primaryWhiteTEm
				//- 		.emLeft.primaryWhiteT100 White Text / High Emphasis / Black 100%
				//- 		|         
				//- 		.emLeft.primaryWhiteT60 White Text / Medium Emphasis / Black 60%
				//- 		|         
				//- 		.emLeft.primaryWhiteT38 White Text / Disabled / Black 38%